{% extends 'blog/base.html' %}


{% block title %}
    {{  block.super }}
{% endblock %}


{% block content %}





               <div class="col-md-7">




       <article class="media content-section">
           <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2 mt-2" href="{% url 'blog-user-post' object.author.username %}">{{ object.author.first_name}} {{ object.author.last_name }}</a>

              <small class="text-muted">{{ object.date}}</small>
              {% if object.author == user %}
                  <div class="float-right">
                      <a class="mr-4" href="{% url 'blog-update' object.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                     <a href="{% url 'blog-delete' object.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>



                  </div>

              {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content}} </p>
          </div>
        </article>

    </div>



{% endblock %}

{% block sidebar %}

{% endblock %}