{% extends 'blog/base.html' %}


{% block title %}
    {{  block.super }}
{% endblock %}


{% block content %}

        <div class="col-md-10">

        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{ usr.profile.image.url }}">
                    <div class="media-body">
                      <h2 class="account-heading">{{ usr.first_name }} {{ usr.last_name }}</h2>
                      <p class="text-secondary">{{ usr.email }}</p>
                            <p class="text-secondary">Post count : {{ page_obj.paginator.count }}</p>
                    </div>
            </div>

        {% for post in posts %}
           <article class="media content-section">
               <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a>

                  <small class="text-muted">{{ post.date}}</small>
                </div>
                <h2><a class="article-title" href="{% url 'blog-details' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content|truncatechars:250 }} </p>
              </div>
            </article>
        {% endfor %}

       <div>
       </div>

        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>




            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>

                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>

            {% endif %}


        {% endif %}
       </div>




   </div>






{% endblock %}

{% block sidebar %}

{% endblock %}